.carousel-item{
    height:20rem;
    background:#777;
    color: black;
    position:relative;

}
.container{
    position:relative;
    bottom:0;
    left: 0;
    right:0;
    padding-bottom:5px;
    text-align:center; 
}